# Label Encoder

## Introdução

Neste notebook vamos dedicar nossa atenção a classe ```LabelEncoder``` do sklearn. Por hora, a utilidade desta classe será a de transformar colunas de strings em coluna de números, pois desta maneira os algoritmos de machine learning têm uma performance melhor.

## Importando os dados e bibliotecas iniciais

In [10]:
from pandas import read_csv

df = read_csv('Credit.csv')

print('As dimensões dessa base são:',df.shape, '\n')

df.head(1)

As dimensões dessa base são: (1000, 21)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good

## ```LabelEncoder```

Como podemos ver, temos 1000 linhas e 21 colunas nessa base de dados. Dentre as colunas, algumas delas são strings como a "checking_status" e "credit_history", e são nesses tipos de colunas que a classe ```LabelEncoder``` atua (Na verdade a classe é provida de métodos que possuem mais utilidades do que apenas transformar strings em números).

Para chamá-la, basta digitar

In [11]:
from sklearn.preprocessing import LabelEncoder

Assim, podemos criar uma instância fazendo apenas

In [13]:
labelencoder1 = LabelEncoder()

Com isso, chamamos o método ```fit_transform``` para transformar uma coluna de strings em coluna de números. Antes disso, a entrada deve ser uma coluna pura, no sentido de que não pode ter o nome da coluna em si. Para tal, basta apenas fazer

In [15]:
previsores = df.iloc[:,0:20].values

Fazendo a transformação de variável categórica em variável numérica na primeira coluna, temos

In [17]:
previsores[:,0] = labelencoder1.fit_transform(previsores[:,0])

previsores[:,0]

array([2, 1, 0, 2, 2, 0, 0, 1, 0, 1, 1, 2, 1, 2, 2, 2, 0, 2, 1, 0, 0, 2,
       2, 1, 0, 2, 0, 3, 1, 2, 1, 2, 1, 0, 3, 1, 0, 3, 3, 1, 0, 1, 1, 2,
       2, 0, 0, 2, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 3, 2, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 2, 1, 2, 2, 2, 1, 0, 1, 0, 0, 0, 2, 2, 0, 1, 1,
       2, 2, 0, 2, 0, 3, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 2, 1,
       1, 3, 1, 0, 2, 0, 2, 2, 2, 1, 2, 0, 0, 3, 1, 2, 2, 1, 1, 2, 1, 2,
       0, 0, 0, 0, 0, 1, 1, 3, 3, 1, 2, 2, 0, 1, 2, 0, 2, 0, 0, 0, 3, 1,
       1, 2, 2, 2, 1, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 1, 2, 0, 1, 1, 2, 0,
       2, 2, 0, 2, 0, 1, 2, 0, 1, 0, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 2, 0, 2, 0, 2, 0, 1, 2, 0, 0, 0, 2, 3, 0, 1, 2, 3, 2, 0,
       1, 2, 0, 0, 0, 0, 1, 2, 0, 2, 3, 0, 0, 1, 0, 2, 1, 1, 0, 2, 2, 0,
       2, 0, 0, 0, 0, 0, 3, 0, 2, 3, 1, 0, 1, 1, 0, 2, 0, 0, 2, 2, 2, 0,
       0, 1, 0, 0, 2, 0, 0, 0, 1, 1, 2, 0, 0, 2, 0, 0, 0, 0, 3, 0, 1, 2,
       2, 1, 1, 2, 0, 1, 2, 3, 0, 1, 0, 0, 0, 1, 0, 1, 3, 2, 0, 0, 0, 2,
       1, 1, 1, 0, 3, 1, 3, 2, 2, 1, 0, 2, 1, 2, 2, 2, 0, 2, 0, 0, 3, 1,
       2, 0, 1, 0, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 3, 0, 1, 1, 0, 1, 0, 1,
       0, 2, 0, 1, 0, 0, 0, 2, 1, 3, 3, 0, 2, 0, 0, 2, 2, 1, 0, 0, 0, 0,
       1, 2, 0, 0, 1, 0, 2, 1, 0, 3, 0, 0, 0, 1, 1, 0, 0, 1, 2, 2, 0, 1,
       2, 2, 1, 0, 0, 1, 0, 0, 1, 1, 0, 2, 0, 3, 1, 0, 0, 0, 2, 0, 2, 2,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 2, 0, 1, 2, 0, 2, 1, 0, 0, 2, 3,
       0, 2, 1, 0, 1, 0, 2, 1, 3, 1, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 2, 2,
       1, 1, 0, 2, 2, 0, 0, 0, 1, 2, 2, 0, 1, 2, 0, 3, 1, 2, 1, 1, 2, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 2, 2, 1, 0, 1, 3, 2, 2, 3, 1, 2, 0,
       3, 1, 0, 0, 2, 0, 3, 1, 0, 2, 2, 0, 2, 0, 0, 2, 2, 0, 1, 1, 0, 0,
       2, 2, 1, 1, 0, 0, 0, 3, 2, 1, 2, 3, 1, 0, 2, 3, 0, 2, 0, 0, 2, 0,
       0, 0, 2, 1, 1, 1, 1, 0, 2, 1, 2, 2, 3, 1, 1, 1, 2, 0, 1, 2, 2, 0,
       0, 2, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 2, 2, 2, 2, 2, 2, 1, 0, 1,
       2, 1, 2, 1, 0, 0, 1, 1, 1, 0, 3, 2, 0, 1, 0, 0, 2, 3, 2, 2, 0, 1,
       1, 2, 1, 0, 1, 0, 0, 2, 2, 0, 3, 1, 0, 0, 2, 2, 1, 0, 1, 0, 0, 0,
       0, 2, 2, 1, 0, 0, 2, 0, 2, 0, 3, 2, 2, 1, 2, 1, 0, 2, 1, 0, 1, 1,
       3, 2, 0, 1, 3, 0, 1, 0, 2, 3, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0,
       0, 0, 1, 0, 3, 1, 0, 2, 2, 1, 1, 2, 0, 0, 1, 0, 0, 3, 0, 2, 3, 1,
       1, 0, 1, 1, 1, 1, 0, 2, 0, 2, 1, 0, 0, 0, 3, 1, 3, 1, 2, 1, 0, 0,
       0, 2, 1, 3, 1, 2, 1, 0, 0, 1, 1, 2, 0, 1, 2, 1, 0, 2, 2, 2, 2, 2,
       0, 0, 2, 2, 1, 0, 0, 2, 3, 3, 0, 2, 0, 2, 2, 0, 0, 1, 2, 0, 1, 0,
       2, 2, 0, 0, 3, 2, 0, 2, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 2, 1, 0,
       0, 3, 0, 0, 2, 0, 0, 1, 0, 1, 2, 0, 1, 2, 1, 0, 1, 1, 1, 1, 2, 2,
       2, 1, 0, 0, 2, 2, 0, 3, 2, 2, 0, 2, 2, 0, 2, 1, 0, 2, 2, 1, 3, 2,
       0, 0, 2, 0, 2, 0, 0, 0, 0, 1, 0, 0, 2, 2, 2, 0, 0, 2, 0, 0, 0, 0,
       2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 0, 3, 2, 0, 2, 1, 2, 0, 2, 0,
       0, 0, 1, 0, 1, 2, 1, 1, 0, 0, 2, 0, 2, 1, 0, 0, 2, 0, 0, 2, 2, 0,
       0, 0, 0, 2, 2, 1, 0, 1, 0, 1, 1, 0, 2, 1, 0, 2, 2, 2, 0, 0, 2, 1,
       2, 2, 2, 2, 0, 2, 2, 1, 0, 0, 2, 1, 3, 1, 1, 0, 0, 0, 0, 0, 2, 1,
       2, 0, 0, 0, 1, 2, 1, 0, 2, 2, 3, 1, 2, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 2, 1, 0, 2, 2, 0, 3, 1, 1, 0, 1, 1, 0, 3, 2, 0, 2, 3, 0, 2, 1,
       0, 0, 2, 2, 0, 0, 2, 0, 2, 1], dtype=object)