# Apply

Este notebook versará sobre o método ```apply``` da classe ```DataFrame```, que aplica uma função em todas as células de uma linha ou coluna.

Dentre os parâmetros que ele recebe, detacamos:

* ```func```: função a ser aplicada. Pode ser uma função lambda.

* ```axis```: ```0``` ou ```index``` para aplicar a função em cada coluna, e ```1``` ou ```columns``` par aaplicar a função em cada linha. **Por padrão está como ```'index'```**.

Como exemplo, criemos um DataFrame simples para mudar uma das colunas de string para objeto de data.

In [2]:
from pandas import DataFrame

dicionario = {'Datas':['01/02/2003', '05/06/1872', '07/09/1822'], 'Nomes':['A', 'B', 'C']}

df = DataFrame(dicionario)

df

        Datas Nomes
0  01/02/2003     A
1  05/06/1872     B
2  07/09/1822     C

Para transformar uma string num objeto de data, devemos usar a seguinte biblioteca.

In [3]:
from datetime import datetime

Agora apliquemos o método na coluna 'Datas':

In [4]:
df['Datas'].apply(func = lambda fecha : datetime.strptime(fecha, '%d/%m/%Y'))

0   2003-02-01
1   1872-06-05
2   1822-09-07
Name: Datas, dtype: datetime64[ns]

Retornando isso na própria coluna, temos

In [5]:
df['Datas'] = df['Datas'].apply(func = lambda fecha : datetime.strptime(fecha, '%d/%m/%Y'))

df

       Datas Nomes
0 2003-02-01     A
1 1872-06-05     B
2 1822-09-07     C