# Células Nulas

## Introdução

Neste notebook vamos nos ater ao problema de células não preenchidas. Para isso, vamos usar o arquivo ```Churn.csv``` como base. Obs: as colunas estão com um nome "estranho", e por isso vamos trocá-la logo no início.

## Dados Iniciais

In [4]:
from pandas import read_csv

colunas = ["Id","Score","Estado","Genero","Idade","Patrimonio","Saldo","Produtos","TemCartCredito",
                    "Ativo","Salario","Saiu"]

df = read_csv('Churn.csv',
              sep = ';',
              names = colunas, 
              header = 0)

df

,Id,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
994,996,838,SC,Masculino,43,9,12310588,2,1,0,14576583.0,0
995,997,610,SC,Masculino,29,9,0,3,0,1,8391224.0,0
996,998,811,SC,Masculino,44,3,0,2,0,1,7843973.0,0
997,999,587,SC,Masculino,62,7,12128627,1,0,1,677692.0,0
998,1000,811,PR,Feminino,28,4,16773882,2,1,1,990342.0,0

Obs: Eu coloquei ```header=0``` para sobrescrever o nome das colunas iniciais, que estava como [X0, X1, ...].

## Identificando células não preenchidas

Para identificarmos as células nulas, usamos o método ```isnull```, que retorna o DataFrame com valores boleanos indicando quais células estão vazias.

In [5]:
df['Genero'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
994    False
995    False
996    False
997    False
998    False
Name: Genero, Length: 999, dtype: bool

Para sabermos quantas células não foram preenchidas, acoplamos o método ```sum``` ao método anterior.

In [6]:
df['Genero'].isnull().sum()

8

## Preenchendo células nulas

Para preenhcer as células nulas, usamos o método ```fillna```