# **`get_dummies()`**

## **Introdução**

A documentação completa sobre a função sobre o assunto se encontra [neste link](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html). Também é útil um artigo do próprio pandas com vários exemplos, que se encontra [aqui](https://pandas.pydata.org/docs/user_guide/reshaping.html#reshaping-dummies). 

A função `get_dummies()` serve para transformar atributos categóricos em numéricos. Para importá-la, basta digitar

In [1]:
from pandas import get_dummies

Criaremos a seguinte tabela para ilustrar o funcionamento da função.

In [6]:
from pandas import DataFrame

dicionario = {"chave": ['b','b','a','c','a','b'], "numero": range(6)}

df = DataFrame(dicionario)

df

  chave  numero
0     b       0
1     b       1
2     a       2
3     c       3
4     a       4
5     b       5

## **Parâmetros Fundamentais**

Os parâmetros fundamentais que destacamos são:

* `data`: DataFrame a ser usado.

* `columns`: string ou lista de strings da(s) coluna(s) a serem transformadas.

Como saída, a função `get_dummies()` retorna o DataFrame com a coluna transformada.

In [11]:
from pandas import Series

get_dummies(data = Series(['b','a','b','b','c']))

   a  b  c
0  0  1  0
1  1  0  0
2  0  1  0
3  0  1  0
4  0  0  1

## **Parâmetros Adicionais**

Se quisermos personalizar o nome das colunas, podemos adicionar o parâmetro `prefix`, que é nome de alguma coluna que será usada para ajudar a nomear o nome das novas colunas.

In [12]:
get_dummies(data = df, columns = ['chave'], prefix = ['chave'])

   numero  chave_a  chave_b  chave_c
0       0        0        1        0
1       1        0        1        0
2       2        1        0        0
3       3        0        0        1
4       4        1        0        0
5       5        0        1        0

Assim fica melhor para o usuário saber quais colunas foram separadas, principalmente quando temos várias colunas com atributos categóricos a serem transformados.