# **Índices**

## Resetar índices de uma tabela

É comum termos que criar sub tabelas a partir de da tabela inicial para agrupar linhas com as mesmas características, por exemplo. Quando isso ocorre, os índices da nova tabela acabam ficando "bagunçados", o que pode dificultar a localização das células.

Para sanar esse problema, usamos um método chamado ```reset_index```, onde os parâmetros que destacaremos são:

* ```drop```: ```True``` se quisermos retirar da tabela o índice anterior, e ```False``` para transformar o índice anterior numa coluna. **Padrão: ```False```**

* ```inplace```: ```True``` para modificar a própria tabela, e ```False``` para retornar uma cópia da tabela com as modificações feitas. **Padrão: ```False```**.

Para mais parâmetros, visite https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reset_index.html.

Vamos usar o exemplo da documentação. Considere a tabela inicial abaixo:

In [2]:
from pandas import DataFrame
from numpy import nan

df = DataFrame([('bird', 389.0),

                ('bird', 24.0),

                ('mammal', 80.5),

                ('mammal', nan)],

                index=['falcon', 'parrot', 'lion', 'monkey'],

                columns=('class', 'max_speed'))

df

         class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

Resetamos a coluna dos índices, sem excluí-los, fazendo

In [4]:
df.reset_index(inplace = True)

df

    index   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN

Caso queiramos excluir os índices antigos, fazemos

In [6]:
df = DataFrame([('bird', 389.0),

                ('bird', 24.0),

                ('mammal', 80.5),

                ('mammal', nan)],

                index=['falcon', 'parrot', 'lion', 'monkey'],

                columns=('class', 'max_speed'))

df.reset_index(drop = True, inplace = True)

df

    class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        NaN