# Linhas Repetidas

## Introdução

Este notebook versará sobre linhas repetidas que podem aparecer nos dados a serem trabalhados. Como a resoulção desse problema é rápida, então este notebook será bem pequeno.

## Dados Iniciais

Vamos usar os mesmos dados do notebook das células nulas.

In [1]:
from pandas import read_csv

colunas = ["Id","Score","Estado","Genero","Idade","Patrimonio","Saldo","Produtos","TemCartCredito",
                    "Ativo","Salario","Saiu"]

df = read_csv('Churn.csv',
              sep = ';',
              names = colunas, 
              header = 0)

## ```duplicated``` e ```drop_duplicates```

Para detectarmos as linhas duplicadas, usamos o método ```duplicated```, que retorna uma série de uma coluna boleana, onde ```True``` é para uma linha que foi duplicada e ```False``` quando a linha não for duplicada. Se quiséssemos sinalizar apenas uma das linhas como a duplicada, deveríamos colocar o parâmetro ```keep='first' ``` ou ```keep='last' ```. Como queremos sinalizar todas que estão duplicadas, colocamos ```keep = 'False' ```.

In [7]:
df.duplicated(keep = False)

0      False
1      False
2      False
3      False
4      False
       ...
994    False
995    False
996    False
997    False
998    False
Length: 999, dtype: bool

Se quisermos saber **quais** linhas estão duplicadas, colocamos esse método dentro do próprio dataframe, da mesma forma que no caso das células vazias.  diferença é que aqui não especificamos a coluna, pois ele vai justamente comparar as linhas dos dados.

In [8]:
df[ df.duplicated(keep = False) ]

,Id,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
80,81,665,RS,Feminino,34,1,9664554,2,0,0,17141366.0,0
81,81,665,RS,Feminino,34,1,9664554,2,0,0,17141366.0,0

Para excluir os dados duplicados, usamos o método ```drop_duplicates```, e colocamos os parâmetros ```keep = 'first'```, para manter o primeiro elemento repetido e excluir as demais, e ```inplace = True``` para substituir na própria variável, ao invés de criar uma cópia e consequentemente substituir na cópia.

In [9]:
df.drop_duplicates(keep = 'first',
                  inplace = True)

Verificando se de fato o método excluiu as linhas repetidas, basta digitar novamente

In [10]:
df[ df.duplicated(keep = False) ]

Empty DataFrame
Columns: [Id, Score, Estado, Genero, Idade, Patrimonio, Saldo, Produtos, TemCartCredito, Ativo, Salario, Saiu]
Index: []

Como podemos ver, o método executou a exclusão na própria variável, como esperado.