# **Ordenamento de uma tabela**

Neste notebook vamos essencialmente falar sobre o método ```sort_values```, que realiza o ordenamento de uma tabela através de linhas ou colunas inseridas pelo usuário.

Dentre os parâmetros desse método, vamos destacar os 4 primeiros, que são:

* ```by```: string ou uma lista de strings. É o critério pelo qual vamos ordenar. Por exemplo, se inserimos o nome da coluna 'Col 1', então a tabela será organizada pela coluna 'Col 1'.

* ```axis```: 0 ou 'index' para ordenar as linhas, e 1 ou 'columns' para ordenar as colunas. **Por padrão está como 0**.

* ```ascending```: ```True``` para ordenar de forma ascendente, e ```False``` para ordenar de forma descendente. Se o parâmetro ```by``` for uma lista, podemos inserir aqui uma lista de variáveis booleanas para especificar o ordenamento de cada critério, ou deixar apenas uma variável booleana que vai ditar o ordenamento de todos os critérios. **Por padrão está ```True```**.

* ```inplace```: Se ```True```, ele vai aplicar essas modificações na própria tabela. Se ```False```, o método vai retornar uma cópia da tabela com as modificações feitas. **Por padrão está ```False```**.

Para ilustrar, vou usar a mesma tabela que está na [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html).

In [2]:
from pandas import DataFrame

dicionario = {

    'col1': ['A', 'A', 'B', 'X', 'D', 'C'],

    'col2': [2, 1, 9, 8, 7, 4],

    'col3': [0, 1, 9, 4, 2, 3],

    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    }

df = DataFrame(dicionario)

df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3    X     8     4    D
4    D     7     2    e
5    C     4     3    F

Ordenando pela primeira coluna, temos

In [3]:
df.sort_values(by = ['col1'])

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3    X     8     4    D

Para outros parâmetros, basta acessar a documentação, que está em https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html.