# Funções Lambda

Por definição, uma função lambda em python é uma função anônima que pode receber vários objetos como entrada, mas apenas retorna um objeto na saída. Para usarmos num código, devemos obedecer à seguinte sintaxe:

```lambda variaveis : retorno```

As funções lambda são úteis quando criamos funções pequenas e também para colocarmos dentro de uma função ou método de uma classe.

Para exemplificar, usaremos uma função lambda como argumento num DataFrame, que realizará a conversão de uma string em objeto de data.

In [3]:
from pandas import read_csv
from datetime import datetime


df = read_csv('Fechas.csv', parse_dates = ['Datas'], 
               date_parser = lambda fecha : datetime.strptime(fecha, '%d/%m/%Y'))

df

       Datas
0 1976-06-14
1 2008-05-02
2 1821-07-28
3 2014-07-08