# Pandas SQL

## Introdução

Este notebook é a continuação do ```SQLAlchemy.ipynb``` (https://github.com/gabrielnrt/Aprendizado/blob/main/Banco%20de%20Dados/SQLAlchemy.ipynb). 

Apenas para recapitular, podemos criar um banco de dados (bd) com o SQLite, PostgreSQL, MySQL, dentre outras plataformas. Uma vez feito isso, usamos a biblioteca ```sqlalchemy``` para estabelecer uma conexão com esse bd. Tendo realizado essa conexão, podemos usar o método ```to_sql()``` para inserir num bd os dados contidos num ```DataFrame```, e a função ```read_sql_query()``` para obter um ```DataFrame``` dados uma consulta e um bd.

Posto isso, vamos estabelecer uma conexão com o sqlalchemy.

In [7]:
from sqlalchemy import create_engine

conexao = create_engine('sqlite:///NovoBanco.db')

## ```to_sql()```

Inicialmente vamos carregar o arquivo ```TabelaXadrez.csv``` obtido através de raspagem de dados do site "House of Chess". A ideia é copiar esses dados num arquivo de bd.

In [8]:
from pandas import read_csv

dados = read_csv('TabelaXadrez.csv')

dados.head()

,Código,Nome,Altura (Polegadas),Material,Preço (USD)
0,CP2485,"Famous Staunton Wood Chess Pieces King Size 3""...",3.00,Golden Rosewood / Boxwood,29.95
1,CP1774,Wooden Unique Staunton Chess Pieces King Size ...,3.50,Golden Rosewood / Boxwood,39.95
2,CP3874,Wood Chess Set Pieces Monarch Staunton King Si...,3.00,Golden Rosewood / Boxwood,39.95
3,CP2358,"Chess Set Pieces Sovereign Staunton 3-1/4"" Gol...",3.25,Golden Rosewood / Boxwood,44.95
4,CP2810,Famous Staunton Wood Chess Pieces King Size 3-...,3.25,Golden Rosewood / Boxwood,44.95

O objeto ```DataFrame``` possui método ```to_sql()```, que grava seus dados num bd SQL. Dentre os parâmetros desse método, destacamos

* ```name```: (string) Nome da tabela

* ```con```: (Objeto ```Engine``` ou ```Connection``` do sqlalchemy, ou o objeto ```Connection``` do sqlite3) conexão com o banco de dados

* ```index```: (bool) Colocar os índices do ```DataFrame``` como uma coluna do bd

* ```if_exists```: se a tabela já existe, então ```fail``` vai levantar um erro, ```replace``` vai substituir (sobrescrever) os dados já existentes, e ```append``` vai inserir os novos valores para a tabela.

No nosso caso, a tabela se chama ```showroom```, vide a query feita em https://github.com/gabrielnrt/Aprendizado/blob/main/Banco%20de%20Dados/SQLite.ipynb, o que nos leva a

In [9]:
dados.to_sql(name = 'showroom',
             con = conexao,
             index = False,
             if_exists = 'append')

Aqui reiteramos que, para este método não levantar um erro, precisamos que o nome das colunas no bd seja o mesmo das colunas no ```.csv```.

## ```read_sql_query()```

Agora que inserimos os dados do DataFrame no bd, podemos fazer o processo reverso, isto é, obter um DataFrame a partir de um banco de dados já feito. Para isso, usamos a função ```read_sql_query()```, que retorna um DataFrame. Dentre os parâmetros, destacamos

* ```sql``` (string) nome da consulta a ser feita

* ```con``` conexão com o banco de dados, que pode ser o objeto ```connection``` do sqlite3 ou da biblioteca sqlalchemy.

No nosso caso, vamos selecionar todas as células no arquivo.

In [10]:
from pandas import read_sql_query

consulta = "SELECT * FROM showroom"


df = read_sql_query(sql = consulta, con = conexao)


df.head()

,Código,Nome,Altura (Polegadas),Material,Preço (USD)
0,CP0001,Enoby Staunton,3.75,Padauk,199.99
1,CP2485,"Famous Staunton Wood Chess Pieces King Size 3""...",3.00,Golden Rosewood / Boxwood,29.95
2,CP1774,Wooden Unique Staunton Chess Pieces King Size ...,3.50,Golden Rosewood / Boxwood,39.95
3,CP3874,Wood Chess Set Pieces Monarch Staunton King Si...,3.00,Golden Rosewood / Boxwood,39.95
4,CP2358,"Chess Set Pieces Sovereign Staunton 3-1/4"" Gol...",3.25,Golden Rosewood / Boxwood,44.95

Note que conseguimos extrair os dados feitos na raspagem e com a linha adicional criada manualmente no notebook "SQLite.ipynb".