## House of chess

Usaremos o sqlite para armazenar a tabela obtida com a raspagem de dados do site da House of Chess. Criemos inicialmente a estrutura da nossa tabela com suas tipagens.

In [1]:
consulta = """
    CREATE TABLE showroom ( 
            Codigo   TEXT,
            Nome     TEXT,
            Altura   INTEGER,
            Material TEXT,
            Preco    REAL
    )
"""

# **SQLite**

## Introdução

Neste notebook veremos como usar a biblioteca SQLite para criar banco de dados e conectá-los com arquivos ```.csv```. O material será baseado no site http://pythonclub.com.br/gerenciando-banco-dados-sqlite3-python-parte1.html.

## Criar, conectar e desconectar do banco

Para conectar a um banco de dados, devemos usar a função ```connect``` da biblioteca.

In [2]:
from sqlite3 import connect

Ele nos retorna um objeto de conexão, que possui alguns métodos que abordaremos mais adiante. Como parâmetro dessa função, inserimos como string o nome do banco de dados que é um arquivo do tipo ```.db```. 

Caso não exista um arquivo com o nome inserido, então essa função cria um banco de dados vazio com esse nome.

In [3]:
conexao = connect('NovoBanco.db')

Uma vez criado, podemos usar os métodos de ```conexao``` para fornecer a estrutura do banco, como nome das colunas e suas respectivas tipagens, inserir dados, assim como alterá-los ou deletá-los.

Para sair da conexão, usamos o método ```close()```:

In [4]:
conexao.close()

## Editando o arquivo de banco de dados

Tanto para criar uma tabela quanto editar seus valores, usamos os métodos ```cursor()``` (método da conexão), que cria um interador que permite navegar e manipular os registros, e ```execute()``` (método de ```cursor()```), que realiza a consulta feita pelo usuário. A diferença é que para salvar as edições feitas nos valores, é necessário usar ```commit()```, que é um método da conexão.

### Criação da tabela

Como encerramos a conexão, vamos "ligá-la" de volta, e digitar a nossa consulta na qual criaremos a estrutura da tabela. O nome e o tipo das colunas se referem aos dados coletados de peças de xadrez do site "House of Chess".

In [5]:
conexao = connect('NovoBanco.db')

consulta = """
    CREATE TABLE showroom ( 
            Codigo   TEXT,
            Nome     TEXT,
            Altura   INTEGER,
            Material TEXT,
            Preco    REAL
    )
"""

cursor = conexao.cursor()

Agora vamos inserir essa estrutura no arquivo ```NovoBanco.db``` com o comando ```cursor.execute()```, colocando no argumento a consulta criada na string.

In [6]:
cursor.execute(consulta)

Para visualizar o nome da tabela criada, que no nosso caso é ```showroom```, é só digitar ```sqlite3  NovoBanco.db '.tables'``` no terminal. Obs: se o sqlite3 não estiver instalado, basta digitar ```sudo apt install sqlite3``` no terminal antes.

### Inserção de valores

Para inserir valores dentro da tabela criada, é só montar uma consulta usando a sintaxe SQL, e depois utlizar o método commit.

In [7]:
consulta = """
    INSERT INTO showroom (Codigo, Nome, Altura, Material, Preco)
    VALUES ('CP0001', 'Enoby Staunton', 3.75, 'Padauk', 199.99)
"""

cursor.execute(consulta)

conexao.commit()
conexao.close()

Note mais uma vez que o commit é um método da conexao, e não do cursor.